
<div style="height: 100%; width: 100%;">
    <mat-card class="login-pannel">
        <mat-card-title>Welcome to Log-History</mat-card-title>
        <mat-card-subtitle>Where we stalk your logins</mat-card-subtitle>
        <mat-card-content>
          <form [formGroup]="loginForm" class="example-container" >
              <mat-form-field class="input-fiels" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com"/>
                <mat-error *ngIf="myError('emailFormControl', 'email')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="myError('emailFormControl', 'required')">
                  Email is <strong>required</strong>
                </mat-error>                  
              </mat-form-field>
              <mat-form-field class="input-fiels" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="{{passwordView}}" matInput formControlName="passwordFormControl" placeholder="Password"/>                                      
                  <mat-error *ngIf="myError('passwordFormControl', 'required')" >
                    Password is <strong>required</strong>
                  </mat-error>     
                 
                </mat-form-field>
                <mat-checkbox class="example-margin"
                [checked]="displayPassword"
                (change)="setAll($event.checked)">
                Display Password
              </mat-checkbox>             
            </form>
      </mat-card-content>

        <mat-card-actions style="text-align: end;">
          <button mat-raised-button  class="button-position" (click)="login()" color="primary">login</button>
          <button mat-raised-button class="button-position" (click)="create()" color="primary">create</button>
        </mat-card-actions>
      </mat-card>
</div>