.login-pannel{    
    width: 20%;
    height: 50%;
    top: 18%;
    margin: auto;
    z-index: 3;
}
.input-fiels {
    width: 100%;
  }

.button-position{
    position: absolute;
    right: 0px;
    bottom: 5px;
    right: 5px;
    margin: 10px;
    position: inherit;    
}
  
::ng-deep .warning-dialog {
    color: white !important;
    background-color: red !important;
    
}

.example-container {
    height: 100%;
    position: inherit;
    max-width: 100%;
    overflow: auto;
  }