.login-pannel{    
    width: 20%;
    height: 57%;
    max-height: 490px;
    top: 18%;
    margin: auto;
    z-index: 3;
}
.input-fiels {
    width: 100%;
  }

.button-position{
    position: absolute;
    right: 0px;
    bottom: 5px;
    right: 5px;
    margin: 10px;
    position: inherit;    
}
  
::ng-deep .warning-dialog {
    color: white !important;
    background-color: red !important;
    
}

.example-container {
    height: 323px;
    width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }