


<div style="height: 100%; width: 100%;">
    <mat-card class="login-pannel">
        <mat-card-title>Welcome to Log-History</mat-card-title>
        <mat-card-subtitle>Audit Trail for {{userProfile.name}}.</mat-card-subtitle>
        <mat-card-content>
            <section class="example-container mat-elevation-z8" tabindex="0">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- date Column -->
                  <ng-container matColumnDef="date" sticky>
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>              
              <!-- time Column -->
              <ng-container matColumnDef="time" sticky>
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.time}} </td>
              </ng-container>  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </section>
      </mat-card-content>

        <mat-card-actions style="text-align: end;">
          <button mat-raised-button class="button-position" (click)="logout()" color="primary">logout</button>
        </mat-card-actions>
      </mat-card>
</div>
