.nightSky{
    background-image: url('../assets/images/nightback.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    width: 120%;
    height: 120%;
    position: absolute;
}

.mountainrange{
    background-image:url('../assets/images/mountainrange.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    width: 120%;
    height: 60%;
    position: fixed;
    bottom: -100px;
}